<div class="login-page">
    <div class="login-box">
        <div class="row">
        <div class="col ">
            <button class="btn btn-lg btn-light btn-block login-btn" id="idLoginBtn" (click)="showtable()">Admin</button>
        </div>
        <div class="col">
            <button class="btn btn-lg btn-light btn-block login-btn" id="idLoginBtn" (click)="showbooks()">Books</button>
        </div>
        <div class="col">
            <button class="btn btn-lg btn-light btn-block login-btn" id="idLoginBtn" (click)="book()">Library</button>
        </div>
    </div>
    </div>
</div>
