<!-- B:\INTERLAND\PROJECTS\Review Projects\library-management-app\src\assets\resources\new\ipsh.css -->
<!-- css at "B:\INTERLAND\PROJECTS\Review Projects\library-management-app\src\assets\resources\new\adminlte.css" -->
<!-- B:\INTERLAND\PROJECTS\Review Projects\library-management-app\src\assets\resources\new\ipsh.css -->
<div class="login-page">
    <div class="login-box">
        <div class="card">
            <div class="login-logo m-2">
                <img class="" src="assets/resources/img/book.png" alt=""
                    style="border-radius: 7px;width: 90px;">
                <h1 class="h3 mb-2 mt-1 font-weight-normal cursive-font">LIBRARY MANAGEMENT</h1>
            </div>
            <div class="card-body login-card-body">

                <form>
                    <div class="input-group mb-3">
                        <label for="username" class="form-label"></label>
                        <input type="text" class="form-control" id="username" name="Enter the Username" [(ngModel)]="userDTO.name" placeholder="Enter User Name" required>
                    </div>
            
                    <div class="input-group mb-3">
                        <label for="password" class="form-label"></label>
                        <input type="password" class="form-control" id="password" name="Enter the Password" [(ngModel)]="userDTO.password" placeholder="Enter Password Name"required>
                    </div>
            
                    <div class="input-group mb-3">
                        <label for="email" class="form-label"></label>
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userDTO.email" placeholder="Enter User Email" required>
                    </div>
            
                    <div class="input-group mb-3">
                        <label for="phoneNumber" class="form-label"></label>
                        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="userDTO.phoneNumber" placeholder="Enter the Phone"required>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-lg btn-dark btn-block login-btn" id="idLoginBtn" (click)="Signup()">Signup</button>
                    </div>
                </form>
                <!-- /.social-auth-links -->
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

</div>